.login-page-container {
  height: 100vh;
  position: relative;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  max-width: 450px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
}

.login-container h2,
.new-account-link {
  text-align: center;
  margin: 1rem 0;
}

.login-page-container .block {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

.login-page-container .input {
  padding: 0.3rem;
}

.login-page-container .form-container .password-input {
  padding-right: 2.5rem;
}

.login-page-container .login-button {
  padding: 0.5rem;
  background-color: var(--primary-color);
  color: var(--light-white-color);
  margin: 1rem 0;
}

.login-page-container .login-password {
  position: relative;
}

.login-page-container .login-password .visibility-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
}

.login-page-container .login-test-cred-button {
  padding: 0.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}
