.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw; 
}

.loader-container .loader-spinner {
  width: 75px;
  height: 75px;
  border: 10px solid var(--light-white-color);
  border-top: 10px solid var(--primary-color);
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
