.footer-container {
    background-color: var(--light-black-color);
    color: var(--light-white-color);
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 1rem;
    justify-content: space-around;
}

.footer-container .links {
    text-decoration: none;
    color: var(--light-white-color);
}

.footer-container .links-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.footer-container .bold {
    padding-bottom: 0.5rem;
    text-decoration: underline;
}

