* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: 1.125rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.25rem;
  }
}